@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h1>Add Engineer</h1>

<p>@Html.ValidationMessageFor(model => model.Manufacturer)</p>
<p>@Html.ValidationMessageFor(model => model.Model)</p>
<p>@Html.ValidationMessageFor(model => model.Serial)</p>
<p>@Html.ValidationMessageFor(model => model.OperationalStatus)</p>
<p>@Html.ValidationMessageFor(model => model.RepairStatus)</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Manufacturer)
  @Html.TextBoxFor(model => model.Manufacturer)

  @Html.LabelFor(model => model.Model)
  @Html.TextBoxFor(model => model.Model)

  @Html.LabelFor(model => model.Serial)
  @Html.TextBoxFor(model => model.Serial)

  @Html.Label("Operational?")
  @Html.CheckBoxFor(model => model.OperationalStatus)

  @Html.Label("Under Repair?")
  @Html.CheckBoxFor(model => model.RepairStatus)
  <input type="submit" value="Add Machine" />
}
