@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h1>Machine Details</h1>

<p>@Html.DisplayNameFor(model => model.Manufacturer) : @Html.DisplayFor(model => model.Manufacturer)</p>
<p>@Html.DisplayNameFor(model => model.Model) : @Html.DisplayFor(model => model.Model)</p>
<p>@Html.DisplayNameFor(model => model.Serial) : @Html.DisplayFor(model => model.Serial)</p>

@if (@Model.EngineerMachines.Count == 0)
{
  <p>There are no engineers currently authorized to work on this machine.</p>
}
else
{
  <h4>Engineers Authorized to Repair:</h4>
  <ul>
    @foreach (EngineerMachine entry in Model.EngineerMachines)
    {
      <li>@entry.Engineer.Name</li>
    }
  </ul>
}

@Html.ActionLink("Add Authorized Engineer", "AddEngineer", new {id = @Model.MachineId})
<br>
@Html.ActionLink("Edit Machine", "Edit", new {id = @Model.MachineId})
<br>
@using (Html.BeginForm("Delete", "Machines", new { id = @Model.MachineId }))
{
  <input type="submit" value="Delete Machine" />
}