@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h1>Engineer Details</h1>

<h2>@Model.Name</h2>
<p>
  @{ string status = "";
     @if (@Model.Status == false) { status = "Idle"; }
     else { status = "Active"; }
   }
   Status: @status
</p>

@if (@Model.EngineerMachines.Count == 0)
{
  <p>This engineer is not yet authorized to work on any machines.</p>
}
else
{
  <h4>Machines Authorized to Repair:</h4>
  @foreach (EngineerMachine entry in Model.EngineerMachines)
  {
    <li>
      @entry.Machine.Manufacturer | @entry.Machine.Model
  
      @using (Html.BeginForm("RemoveMachine", "Engineers", routeValues: new { id = entry.EngineerMachineId }))
      {
        <input type="submit" value="Remove Authorization"/>
      }
    </li>
  }
}

@Html.ActionLink("Add Machine to Engineer", "AddMachine", new {id = @Model.EngineerId})
<br>
@Html.ActionLink("Edit Engineer", "Edit", new {id = @Model.EngineerId})
<br>
@using (Html.BeginForm("Delete", "Engineers", new { id = @Model.EngineerId }))
{
  <input type="submit" value="Delete Engineer" />
}